@{
    ViewData["Title"] = "Home Page";
}
<br />
<br />
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://www.facebook.com">Mohamed Hazem Khairy (Software Enginner )</a>.</p>
</div>
